html {
    width: 100vw;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {

    display: flex;
    justify-content: center;
    width: 600px;
    height: 445px;
    border-radius: 10px;
}

img {
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    align-self: left;
}

#content {
    padding: 3vh;
    background-color: white;
    border-radius: 10px;
}

h2 {
    color: hsl(228, 12%, 48%);
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 4px
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 35px;
    color: hsl(212, 21%, 14%);
    margin-top: 20px;
    line-height: 35px;
}

p {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

#prices {
    font-family: 'Fraunces', serif;
    font-size: 30px;
    color: hsl(158, 36%, 37%);
    margin-top: 2vh;
    display: flex;
    align-items: center;

}

#prices s {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    padding-left: 1vh;

}

button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    border-radius: 7px;
    height: 50px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 1vh;
}



@media (max-width: 599px) {
    html {
        width: auto;
        background-color: hsl(30, 38%, 92%);
        font-size: 14px;

    }
    body {
        padding: 0px;
        margin: 0px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #container {
      flex-direction: column;
      width: 75vw;
      height: 50%;
      font-size: 0;

    }
    #content {
        padding: 3vh;
        font-size: 14px;
        height: 100%;
        background-color: white;
    }

    #photo{
        font-size: 14px;
        align-items: flex-start;
    }
    img{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }

    h2 {
        font-size: 3vw;
    }

    h1 {
        font-size: 6vw;
        line-height: 6vw;
    }
    
    p {
        font-size: 3vw;
    }
    
    #prices {
        font-size: 6vw; 
    }
    
    #prices s {
        font-size: 4vw;
    }
    
    button {
        font-size: 3vw;
    }

  }
