* {
    list-style: none;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
html {
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    
}
body {
    display: grid;
    justify-content: center;
    height: inherit;
    background-color: #121012;
    background-image: 
        url(/assets/waves.svg),
        linear-gradient(to bottom, #2d1d44a6, #0e0915);
    background-repeat: no-repeat;
        
}
