*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
    background-color: rgb(9,12,8);
    width: 100vw;
}

h2 {
    font-weight: 400;
    font-size: 4.5vw;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 12fr 3fr ;
    
}

header nav {
    position: fixed;
    width: 100vw;
    background-color: rgb(71,64,86);
    height: 50px;
    grid-column: 1/1;

}
header nav ul{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 1/1;
    grid-row: 3/3;

}
header nav ul li{
    margin-top: 10px;
    margin-right: 4vw;

}
header #headerContent {
    align-self: center;
    height: 90%;
    margin-left: 5vw;
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
header #headerContent h1 {
    margin-top: 10px;
    font-weight: 700;
    font-size: 8vw;
}
header #headerContent p {
    font-weight: 100;
    font-size: 2vw;
    margin-top: 5vh;
    
}


main{
    width: 100vw;
}

.parte {
    height: 90vh;

}
#habilidades{
    background-color:rgb(37, 3, 48);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#habilidades img{
    width:10vw;
    margin: auto;
}

#sobre{
    background-color:rgb(3, 48, 48);
}
#projetos{
    background-color:rgb(0, 3, 97);
}
#certificados{
    background-color:rgb(65, 21, 21);
}
#contato{
    background-color:rgb(33, 65, 21);
}