#atual {
    display: none;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgb(185,198,174);
}
html {
    scroll-behavior: smooth;
    background-color: rgb(9,12,8);
    width: 100vw;
}
body {
    width: 100vw;
}
header {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
header #headerContent {
    margin-top: 100px;
    height: 100px;
}
header nav {
    position: fixed;
    width: 100vw;
}
header nav ul{
    display: flex;
    justify-content: flex-end;
}
header nav ul li{
    margin-top: 10px;
    margin-right: 4vw;
}

main{
    width: 100vw;
}

.parte {
    height: 90vh;

}
#habilidades{
    background-color:rgb(37, 3, 48);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#habilidades img{
    width:10vw;
    margin: auto;
}

#sobre{
    background-color:rgb(3, 48, 48);
}
#projetos{
    background-color:rgb(0, 3, 97);
}
#certificados{
    background-color:rgb(65, 21, 21);
}
#contato{
    background-color:rgb(33, 65, 21);
}