* {
    list-style: none;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
html {
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    
    
}
body {
    display: grid;
    justify-content: center;
    height: inherit;
    background-color: #121012;
    background-image: 
        url(/assets/uuundulate.svg),
        linear-gradient(to bottom, #2d1d44a6, #0e0915);
    background-repeat: no-repeat;
        
}
main {
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 15px 15px;
    min-width: 50vw;
    width: clamp(70vw, 80vw, 95vw);
}

.contentCard {
    background-color: #0e0915;
    height: auto;
    padding: 25px;
    border: 1px solid #121012;
    border-radius: 10px;

    
}
#projects {
    flex-basis: 100%;
}

footer {
    height: 10vh;
}