* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style:none;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}
html{
    width: 100vw;
    padding: 0;
    margin: 0;
    
}
body{
    height: 90%;
    width: 100vw;
    padding: 0;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;


}
.botoes {
    display: grid;
    justify-content: space-between;
    width: 90%;
    min-width: 110px;
    margin: auto;
    margin-bottom: 3vh;
    margin-top: 3vh;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: auto;
}
button {
    background-color: hsla(48, 100%, 50%, 0.7);
    color: rgb(57,90,168);
    border:none!important;
    padding: 10px;
    border-radius: 15px;
}
button:hover {
    background-color: hsla(222, 49%, 44%,0.9);
    color: rgb(255,204,1);
    cursor: pointer;
}
#loadBack {
    display: none;
}
#loadMore {
    grid-column: 10/10;
}

header{
    background-color: hsla(222, 49%, 44%,0.9);
    color: rgb(255,204,1);
    height: 14vh;
    padding-top: 2vh ;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
    text-align: center;
    font-weight: 700;
    border-radius: 0px 0px 100% 100%; 
}
header h1 {
    margin: 0px;
    font-size: 5vh;  
}
header img {
    height: 8vh;
    padding-bottom: 10px;
}

#container{
    width: 100%;
    height: auto;
    display: none;
    row-gap: 1.5vh;
    column-gap: 1px;
    grid-template-columns: 1fr;

}

.pokemons{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 3fr;
    grid-template-rows: auto auto;
    height: 150px;
    width: 80%;
    min-width: 100px;
    max-width: 300px;
    margin: auto;
    border-radius: 30px;
    padding: 20px;
    
}
.pokemons ol{
    grid-column: 1/1;
    grid-row: 2/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.pokemons ol li{
    opacity: 1;
    grid-column: 1/2;
    color: white;
    width: 70%;
    border-radius: 50px;
    margin: 2px;
    padding: 10px;
    padding-left: 20px;
    box-shadow: 2px 1px 1vh hsla(0, 0%, 37%, 0.4);

}
.pokemons h2{
    grid-column: 1/3;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    color: white;
    font-weight: 500;
}
.pokemons span {
    grid-column: 4/4;
    color: white;
    font-size: .8rem;
    font-weight: 300;
    opacity: .5;
    text-align: right;
    align-self: flex-start;
    padding-right: 5px;

}
.pokemons img{
    width: 100%;
    max-height: 115px;
    grid-column: 4/4;
    grid-row: 2/2;
}


@media (min-width: 600px)
{
  #container{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 850px)
{
  #container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px)
{
  #container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #b1{
    display: none;
}
header{
    margin-bottom: 5vh;

}
}
