html {
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);

}
#container {
background-color: hsla(216, 50%, 16%,1);
width: 300px;
border-radius: 15px;
display: flex;
flex-direction: column;
padding: 3vh;

}
#box {
    display: flex;
    align-items: center;
    justify-content: center;
}
#view {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

}
#view svg{
    display: none;

}
#mainIMG {
    width: 100%;
    margin: auto;
    border-radius: 8px;
    
}
h1 {
    margin-top: 3.5vh;
    margin-bottom: 2vh;;
    font-weight: 600;
    color: white;
    font-size: 2.7vh;
}
p {
    font-weight: 300;
    margin: 0;
    font-size: 18px;
}
hr {
    height: 0.15vh;
    width: 100%;
    background-color: hsl(215, 32%, 27%);
    border: none;
    
}
#info {
    margin-bottom: 1.5vh;
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
}
#ethe {
    font-weight: 600;
    color: hsl(178, 100%, 50%);
    display: flex;
    align-items: center;
}
#ethe svg {
    margin-right: 0.8vh;
}
#clock {
    font-weight: 400;
    display: flex;
    align-items: center;
}
#clock svg {
    margin-right: 0.8vh;
}
#credit{
    height: 3.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1vh;
    font-size: 18px;
}
#credit a {
    text-decoration: none;
    color: white;
}
#credit img {
    height: 100%;
    border: 1px solid white;
    border-radius: 50px;
    margin-right: 1.5vh ;
}

#mainIMG:hover #view{
    background-color: (178, 100%, 50%);
    cursor: pointer;
}
h1:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
#credit a:hover {
    color: hsl(178, 100%, 50%);
}
